.grey-light {
  background-color: $grey-light-color;
  color: #000000;
}

.grey-main {
  background-color: $grey-main-color;
}

.grey-darken {
  background-color: $grey-darken-color;
  color: #ffffff;
}

.blue-main {
  background-color: $blue-main-color;
}

.orange-main {
  background-color: $orange-main-color;
}

.orange-darken {
  background-color: $orange-darken-color;
}

.green-main {
  background-color: $green-main-color;
}

.purple-main {
  background-color: $purple-main-color;
}

.red-main {
  background-color: $red-main-color;
}