.bg__grey_light {
  background-color: $grey-light-color;
  color: #000000;
}

.bg__grey_main {
  background-color: $grey-main-color;
}

.bg__grey_darken {
  background-color: $grey-darken-color;
  color: #ffffff;
}

.bg__blue_main {
  background-color: $blue-main-color;
}

.bg__orange_main {
  background-color: $orange-main-color;
}

.bg__orange_darken {
  background-color: $orange-darken-color;
}

.bg__green_main {
  background-color: $green-main-color;
}

.bg__purple_main {
  background-color: $purple-main-color;
}

.bg__red_main {
  background-color: $red-main-color;
}