// #region Colors
$grey-light-color: #E8EBED;
$grey-main-color: #C4C4C4;
$grey-darken-color: #A2A9B7;

$blue-main-color: #90BCE8;

$orange-main-color: #FEBF26;
$orange-darken-color: #FFAA87;

$green-main-color: #E3EBD3;

$purple-main-color: #C7ABD4;

$red-main-color: #F55E62;
// #endregion

// #region Sizes
$screen-mobile-size: 480px;
$screen-desktop-size: 768px;
// #endregion
